/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

  body {
    background-color: rgb(254, 194, 232);
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(141, 190, 255);
    -webkit-text-stroke: 1px black;
  }

  .input-field {
    font-family: "Koulen", sans-serif;
    color:rgb(172, 95, 255);
    -webkit-text-stroke: 0.5px black;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    height: 35px;
  }

  p {
    margin-right: 20px;
  }

  button {
    background-color: rgb(172, 95, 255);
    font-weight: bold;
    border: none;
    font-family: "Roboto", sans-serif;
    color: white;
    -webkit-text-stroke: 0px;
    padding: 10px;
  }

  input {
    padding: 10px;
    border: none;
    background-color: rgba(205, 145, 255, 0.624);
  }

  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: auto;
  }

  .square {
    border: 0.5px solid rgb(138, 138, 138);
  }