/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    justify-content: center;
  }

  .square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
  }