/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

  body {
    background-color: rgb(254, 194, 232);
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(141, 190, 255);
    -webkit-text-stroke: 1px black;
  }

  .input-field {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    height: 30px;
  }



  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: auto;
  }

  .square {
    border: 0.5px solid rgb(111, 111, 111);
  }